
.header{
    width: auto;
    height: 50px;
    position:relative;
    background-color: rgb(162, 175, 180);
    align-items:safe;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.content{
    text-align: center;
}
.button{
    font-weight: bold;
    color:white;
    cursor: pointer;
    background-color: rgb(134, 140, 146);
    height: 40px;
    width: 200px;
}
.container123:after,.container:before{
    content: " ";
            display: table;
            clear: both;
}
.container123{
    width: 80%;
    height: 70%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 20%;
    
    
}
.container1{
    width: 20%;
    height: 90%;
    float: left;
    border:1px solid;
    padding: 20px;
    margin:10px;
}
.container45678{
    width:80%;
    height: 90px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 15%;margin-left: 20%;
}
.container2{
width:10%;
height:auto;
border:1px solid;
float: left;
padding: 20px;
margin:1%;
}
.container91011{
    width:80%;
    height:auto;margin-left: 20%;
    box-sizing: border-box;
    
}
.container3{
    width:20%;
    border:1px solid;
 margin: 10px;
 padding:20px;
    float:left;
}
body {
    color: #fcfffb;
    background-color: #000808;
    font-family: 'Ubuntu', sans-serif;
    width: auto;
    height: auto;
    
}
.h3{
    margin:8px;
    margin-left: 20%;
}
.stage2{
    margin: 50px;
}
.header{
    font-size: large;
    font-stretch: expanded;
    content: icon;
    height: 50%;
}